---
import BlogLayout from "../layouts/BlogLayout.astro";
import "../styles/global.css";
---

<BlogLayout>
  <section class="max-w-4xl mx-auto p-6">
    <h1 class="text-3xl font-bold mb-4">Sobre el Blog</h1>
    <p class="text-lg mb-4">
      Bienvenido a nuestro blog dedicado a las reseñas de series actuales. Aquí
      encontrarás análisis detallados, opiniones y recomendaciones sobre las
      últimas series que están marcando tendencia.
    </p>
    <p class="text-lg mb-4">
      Nuestro objetivo es proporcionar a los amantes de las series un espacio
      donde puedan descubrir nuevas historias y compartir sus propias opiniones.
      Creemos que cada serie tiene algo único que ofrecer, y estamos aquí para
      explorar esas narrativas contigo.
    </p>
    <p class="text-lg mb-4">
      ¡Gracias por visitarnos! Esperamos que disfrutes de nuestras reseñas y te
      animes a dejar tus comentarios.
    </p>
  </section>
</BlogLayout>
